@{
    ViewData["Title"] = "Jack's Cool Website";
}

<h1>Jack Nelson!</h1>
<img src="~/img/rock.jpg" />
<p>I want to understand ASP.NET really really well. Looking forward to putting in some </p>
<p>good work so that I can get a great grade. LET'S GOOO! YAHOO!'</p>
<br />

<p>Top 3 jobs I'm interested in pursuing'</p>
<ul>
    <li>Entrepreneurship</li>
    <li>Web Development/ UX Design</li>
    <li>Database Management </li>
</ul>